{% extends 'base.html.twig' %}
{% block contents %} 
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <div class="gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row row-wrap" data-gutter="120">
                        <div class="col-md-12" style="text-align: justify">
                            <h2 class="h2">About Us</h2>
                            <h3 class="h3">Our Mission</h3>
                            <p class=" text-default">
                                Our mission is to provide Quality and excellence to our customers promptly and exclusively. All the professionals at Time Holidays Pty Ltd. are experienced in their trade and each brings with him/her a unique set of experience adding value to the traveler’s overall experience of the country. We always try to know what a traveler anticipates, and we make sure that we satisfy them. Traveling can be one of the most rewarding experiences in life. However, planning a trip can be extremely frustrating especially when it is difficult to know where to start. We at Time Holidays understand travelers needs of all and deliver the best through meticulous planning.
                            </p> 
                            <h3 class="h3">Corporate Information</h3>
                            <p>
                                We started our journey in travel Industry in 2010, and in short span of time, we have proven our self and became one of the best travel agency for South east subcontinent serving in Sydney and all over Australia. We are a professionally managed travel agency with aim to focus on Customer service. Transaction level operations are executed by a team of professionally qualified professionals, who are well aware with the complexities of Travel bookings.
                            </p>  
                        </div>
                    </div>
                </div>
                <div class="gap gap-small"></div>
            </div>
        </div>
         <div class="gap"></div>
{% endblock %}
