<script>
var searchbox_options_cars = {
	refid:6665,
	environment: "prod",
	hotel:{
		enabled:false
	},
	car:{
		elements:{
			form:"car",
			from:".rs_pickup",
			to:".rs_dropoff",
			chk_in:".rs_chk_in_pick, .rs_chk_in_calendar, .rs_date_chk_in",
			chk_out:".rs_chk_out_drop, .rs_chk_out_calendar, .rs_date_chk_out",
			chk_in_display:".rs_date_chk_in",
			chk_out_display:".rs_date_chk_out",				
			search:".rs_search"
		},
		calendar:{
			output_format:"<div class='rs_mobi_chk_day'>[d]</div><div class='rs_mobi_chk_month'>[F]</div>"
		},
		select_name:true		
	},
	air: {
		enabled:false
	},
	vp:{
		active:true,
		enabled:false
	}
};
$(document).ready(function() {
	$('#rs_cars').searchbox(searchbox_options_cars);
	
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
		$("<link/>", {
		   rel: "stylesheet",
		   type: "text/css",
		   href: "css/mobile_search.css"
		}).appendTo("head");	
	}

	$('#different_return').click(function(){
		 $(".rs_droppff_div").slideToggle();                
	});
}); 
</script>
<div id="rs_cars" class='rs_searchbox'>
    <form name="car" class="rs_car_form">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                            <label>Pick-up Location</label>                            
                            <input class="rs_pickup rs_autosuggest form-control" name="rs_pu_city" autocomplete="off"   placeholder="City, Airport, Zip"  onclick="$(this).val(&quot;&quot;);" >
                        </div>
                         <div style="margin-bottom:10px">				
				<label for="different_return"><input type="checkbox" name="different_return" id="different_return"/>Return at a different location?</label>
                         </div>
                    </div>
                   
                    <div class="col-md-6 rs_droppff_div" style="display:none">
                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                            <label>Drop-off Location</label>                            
                            <input class="rs_dropoff rs_autosuggest form-control" name="rs_do_city" autocomplete="off"  placeholder="City, Airport, Zip" onclick="$(this).val(&quot;&quot;);" >
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-daterange" data-date-format="mm/dd/yyyy">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                        <label>Pick-up Date</label>
                                        <input name="rs_pu_date" class="rs_chk_in_pick form-control" value="mm/dd/yyyy">
                                    </div>
                                </div>                               
                                <div class="col-md-6">
                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                        <label>&nbsp;</label>
                                        <select name="rs_pu_time" class="rs_time_in rs_time form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-daterange" data-date-format="mm/dd/yyyy">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                        <label>Drop-off Date</label>
                                        <input name="rs_do_date" class="rs_chk_out_drop form-control" value="mm/dd/yyyy">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                        <label>&nbsp;</label>
                                        <select name="rs_do_time" class="rs_time_out rs_time form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        <button type="submit" class="rs_search btn btn-primary btn-lg">Search for Rental Cars<div class="rs_search_icon"></div></button>
    </form>
</div>