{% extends 'base.html.twig' %}
{% block contents %} 
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <div class="gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row row-wrap" data-gutter="120">
                        <div class="col-md-12" style="text-align: justify">
                            <h2 class="h2">Privacy Policy</h2>
                            <p>This Privacy Policy (“Policy”) explains in general terms how Time Holidays Pty Ltd</p>
                            
                            <h3 class="h3">ABN 59141100745</h3>
                            <p class=" text-default">
                                protects the privacy of your personal information. We are firmly committed to protecting the privacy and confidentiality of personal information and maintain robust physical, electronic and procedural safeguards to protect personal information in our care.
                            </p> 
                            
                            <h3 class="h3">What is personal information?</h3>
                            <p>
                                Personal information is information or an opinion, in any form (whether true or not) about an individual whose identity is apparent or can reasonably be ascertained from the information or opinion.
                            </p>  
                            
                            <h3 class="h3">How do we collect personal information?</h3>
                            <p>
                                Where practical we will collect personal information directly from you. Generally this will be collected by us when you deal with us either in person, by telephone, letter, facsimile, email or when you visit our website. We may request information about you when you purchase or make enquires about tickets or other products and services; when you enter competitions, register for promotions or when you request brochures or other information. We may also collect information when we invite you to complete surveys or provide us with feedback.
                            </p>  
                            
                            <h3 class="h3">What personal information do we collect?</h3>
                            <p>
                                Generally, the type of personal information we collect about you is the information that is needed to facilitate your travel arrangements and bookings and to provide travel services and products to you. For example, we may collect details such as your name, mailing address, telephone number, email address, credit card number and expiry date, passport details, dietary requirements (if any) and health issues relevant to your travel arrangements. We also collect information that is required for use in the business activities of Time Holidays, including for example, financial details necessary in order to process various transactions and any other information you may elect to provide to us.
                            </p>
                            <p>
                                We are required by law to obtain your consent to the collection of sensitive information. We will assume that you have consented to the collection of all information which is provided to us for use in accordance with this Policy, unless you tell us otherwise.
When we act as agent
                            </p>
                            <p>
                                When we sell products and services to you, we usually do so as agent for the wholesaler or provider of those products and services. This means that we usually collect personal information about you, both for our internal purposes, and on behalf of the parties for whom we act as agent, for their internal purposes. Accordingly, the consent you provide under this statement to the collection of personal information by us, applies equally to the parties whose products and services we sell. For example, if you purchase a Qantas flight from us, then under this policy you will have consented to your personal information being used by us, being provided to Qantas to enable your flight to be booked and being used by Qantas for Qantas’ purposes.
                            </p>
                            <p>
                                We act as agent for many hundreds of companies, so it is not possible for us to set out in this statement exactly how each of these companies will use your personal information, but we are happy to provide more specific information to you if you email your query to us at <a href="mailto:feedback@timeholidays.com.au">feedback@timeholidays.com.au</a>
                            </p>
                            
                            <h3 class="h3">How do we use personal information?</h3>
                            <p>
                                We will use your personal information to provide you with travel and travel related products and services.
                            </p>
                            <p>
                                We may use and disclose your personal information for the purposes for which it was collected, or for a related or ancillary purpose such as any one or more of the following purposes:
                            </p>
                            <ul>
                                <li>Identification of fraud or error</li>
                                <li>Regulatory reporting and compliance</li>
                                <li>Developing, improving and marketing our products and services</li>
                                <li>Servicing our relationship with you by, among other things, providing updates on promotions and services we think may interest you</li>
                                <li>Involving you in market research gauging customer satisfaction and seeking feedback regarding our relationship with you</li>
                                <li>To facilitate your participation in loyalty programs</li>
                                <li>To analyse trends in sales and travel destinations</li>
                                <li>For marketing activities</li>
                                <li>Internal accounting and administration</li>                                                              
                            </ul>
                            
                            <h3 class="h3">Is the information disclosed to third parties?</h3>
                            <p>
                                We may disclose your personal information:
                            </p>  
                            
                            <h3 class="h3">What is personal information?</h3>
                            <p>
                                Personal information is information or an opinion, in any form (whether true or not) about an individual whose identity is apparent or can reasonably be ascertained from the information or opinion.
                            </p>  
                            <ul>
                                <li>To various regulatory bodies and law enforcement officials and agencies to protect against fraud and for related security purposes</li>
                                <li>To our third party service providers as well as to our related entities and brands</li>
                                <li>To third parties such as airlines, hotels, car rental companies and other service providers for the purpose for which the information was collected or for a related purpose, for example to facilitate and process your travel arrangements</li>
                                <li>To third parties who may involve you in market research for the purpose of servicing our relationship with you and improving the services we provide</li>
                                <li>To third parties for the purpose of analysing trends in sales and travel destinations</li>                                
                            </ul>
                            <p>
                                The third parties to whom we disclose your personal information may also be taken to have collected your personal information in their own right, for their internal use. For more information, see the heading above, titled “When we act as agent”.
                            </p>
                            <p>
                                Where we engage third party contractors to perform services for us those third party contractors may be required to handle your personal information. Under these circumstances those third party contractors must safeguard this information and must only use it for the purposes for which it was supplied, although we are not responsible for ensuring this.
                            </p>
                            <p>
                                Other than the above, we will not disclose your personal information without your consent unless disclosure is either necessary to prevent a threat to life or health, authorised or required by law, reasonably necessary to enforce the law or necessary to investigate a suspected unlawful activity.
                            </p>
                            
                            <h3 class="h3">Trans-Border data flows</h3>
                            <p>
                                In providing our services to you it may be necessary for usto forward personal information to relevant overseas third party service providers.Please let us know if you have any objections to such transfers.
                            </p> 
                            
                            <h3 class="h3">Security of information</h3>
                            <p>
                                Time Holidays has implemented appropriate physical, electronic and managerial security procedures in order to protect personalinformation from loss, misuse, alteration or destruction.
                            </p> 
                            <p>
                                Time Holidays regularly reviews security and encryption technologies and will strive to protect information to the fullest extent possible.
                            </p>
                            
                            <h3 class="h3">Access and correction of personal information</h3>
                            <p>
                                Subject to the exceptions set out in the Privacy Act 1988(Cth), we invite you to access and correct any personal  information we may hold on you. If we deny access, we will provide you with the reason for such denial.We may recover from you our reasonable costs of supplying you with access to this information.
                            </p> 
                            
                            <h3 class="h3">Opt-out</h3>
                            <p>
                                Should you no longer wish to receive information on promotions and services we think may be of interest to you or participate inmarket research, kindly e-mail us on <a href="mailto:feedback@timeholidays.com.au">feedback@timeholidays.com.au</a>
                            </p> 
                            
                            <h3 class="h3">Use of Cookies</h3>
                            <p>
                                A cookie is a small piece of text that is placed within the memory of a computer and can be later retrieved by web page servers. We use cookies to enhance your interaction and convenience with our website and do not use cookies to record any personal information.
                            </p> 
                            
                            <h3 class="h3">Linked Sites</h3>
                            <p>
                                Our website may contain links to other sites. We are not responsible for the privacy practices or the content of such web sites. We encourage you to read the privacy statements of any linked sites as their privacy policy may differ from ours.
                            </p> 
                            
                            <h3 class="h3">Feedback / Complaints</h3>
                            <p>
                                We welcome your inquiries or comments about our Policy.Should you have any comments or complaints please contact us at <a href="mailto:feedback@timeholidays.com.au">feedback@timeholidays.com.au</a>
                            </p> 
                            
                            <h3 class="h3">Changes to our Policy</h3>
                            <p>
                                From time to time it may be necessary for us to review and revise this Policy. We reserve the right to change our Policy at any time, should this occur the amendment would be posted on our website.
                            </p> 
                            
                        </div>
                    </div>
                </div>
                <div class="gap gap-small"></div>
            </div>
        </div>
         <div class="gap"></div>
{% endblock %}
