{% extends 'admin/home.html.twig'%}
{%block dash_contents%}
    <div class="col-md-12"style="margin-top:20px;">
        <h4 class="text-primary text-center text-bigger">Welcome to Time Holidays Admin Panel</h4>
    </div>
{% endblock dash_contents%}