html, body, ul, ol {
  margin: 0;
  padding: 0; }

a img {
  border: none; }

.clear {
  clear: both; }

.mainWrapper {
  max-width: 600px; }
  .mainWrapper .rs_searchbox {
    width: 100%;
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    margin: 0;
    color: white;
    font-weight: 400;
    text-align: left;
    font-size: 13px;
    font-family: "Lato", sans-serif;
    padding: 20px 20px;
    background: #F06F6C;
    background: -moz-linear-gradient(top, #F06F6C 0%, #BF3831 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F06F6C), color-stop(100%, #BF3831));
    background: -webkit-linear-gradient(top, #F06F6C 0%, #BF3831 100%);
    background: -o-linear-gradient(top, #F06F6C 0%, #BF3831 100%);
    background: -ms-linear-gradient(top, #F06F6C 0%, #BF3831 100%);
    background: linear-gradient(to bottom, #F06F6C 0%, #BF3831 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4182a8', endColorstr='#20597c',GradientType=0 );
    position: relative;
    vertical-align: middle; }
    .mainWrapper .rs_searchbox form {
      clear: both;
      position: relative; }
    .mainWrapper .rs_searchbox .rs_searchbox_hide {
      display: none; }
    .mainWrapper .rs_searchbox .rs_products {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 16px;
      text-align: left;
      border-bottom: 1px solid #af231b; }
      .mainWrapper .rs_searchbox .rs_products li {
        display: inline-block;
        width: 100%;
        min-height: 35px;
        line-height: 25px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        color: #fcb0ae;
        cursor: pointer;
        float: left;
        text-align: center; }
        .mainWrapper .rs_searchbox .rs_products li .rs_product_icon {
          display: inline-block;
          *float: left;
          vertical-align: middle;
          width: 26px;
          height: 25px;
          margin: 0 5px 0 0;
          margin-top: -5px;
          *margin-top: 10px;
          *margin-left: 10px;
          background-image: url(../images/products.png);
          background-repeat: no-repeat; }
        .mainWrapper .rs_searchbox .rs_products li #iconHotel {
          background-position: -0px -0px; }
        .mainWrapper .rs_searchbox .rs_products li #iconVP {
          background-position: -78px -0px; }
        .mainWrapper .rs_searchbox .rs_products li #iconAir {
          width: 21px;
          background-position: -54px -0px; }
        .mainWrapper .rs_searchbox .rs_products li #iconCar {
          background-position: -26px -0px; }
      .mainWrapper .rs_searchbox .rs_products li.highlight_tab {
        color: white; }
        .mainWrapper .rs_searchbox .rs_products li.highlight_tab .rs_product_icon {
          background-image: url(../images/products_highlight.png); }
      .mainWrapper .rs_searchbox .rs_products li.last_tab {
        margin: 0; }
      .mainWrapper .rs_searchbox .rs_products li.rs_wide_tab {
        width: 100%; }
    .mainWrapper .rs_searchbox h2 {
      color: white;
      margin: 0 0 10px;
      padding: 10px 0 5px;
      border-top: 1px solid #fcb0ae;
      font-size: 18px;
      font-weight: 700; }
    .mainWrapper .rs_searchbox .label {
      display: none;
      margin: 0 0 3px;
      font-weight: bold; }
    .mainWrapper .rs_searchbox .rs_no_margin {
      margin-right: 0 !important; }
    .mainWrapper .rs_searchbox .rs_form_row {
      margin-bottom: 12px; }
    .mainWrapper .rs_searchbox input[type='text']::-ms-clear {
      display: none; }
    .mainWrapper .rs_searchbox input[type='text'], .mainWrapper .rs_searchbox select, .mainWrapper .rs_searchbox .rs_autosuggest, .mainWrapper .rs_searchbox .rs_from, .mainWrapper .rs_searchbox .rs_to, .mainWrapper .rs_searchbox .rs_chk_in, .mainWrapper .rs_searchbox .rs_chk_out, .mainWrapper .rs_searchbox .rs_rooms, .mainWrapper .rs_searchbox .rs_time_in, .mainWrapper .rs_searchbox .rs_time_out, .mainWrapper .rs_searchbox .rooms, .mainWrapper .rs_searchbox .rs_select_box, .mainWrapper .rs_searchbox .rs_car_option {
      border: 0px solid #af231b;
      font-size: 13px;
      color: #636363;
      webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
    .mainWrapper .rs_searchbox .rs_select_box, .mainWrapper .rs_searchbox .rs_rooms, .mainWrapper .rs_searchbox .pax, .mainWrapper .rs_searchbox .rs_time, .mainWrapper .rs_searchbox .rooms, .mainWrapper .rs_searchbox select {
      width: 100%;
      display: inline-block;
      height: 35px; }
    .mainWrapper .rs_searchbox .rs_autosuggest, .mainWrapper .rs_searchbox .rs_from, .mainWrapper .rs_searchbox .rs_to, .mainWrapper .rs_searchbox .rs_car_option, .mainWrapper .rs_searchbox .rs_advanced input[type='text'] {
      height: 25px;
      width: 100%;
      width: calc(100% - 10px);
      width: -webkit-calc(100% - 10px);
      padding: 5px; }
    .mainWrapper .rs_searchbox .rs_chk_in, .mainWrapper .rs_searchbox .rs_chk_out {
      cursor: pointer;
      background-image: url(../images/cal.png);
      background-position: 95% center;
      background-repeat: no-repeat;
      height: 25px;
      width: 100%;
      width: calc(100% - 10px);
      width: -webkit-calc(100% - 10px);
      padding: 5px; }
    .mainWrapper .rs_searchbox .rs_droppff_div, .mainWrapper .rs_searchbox #air_one_way, .mainWrapper .rs_searchbox #air_multi_dest {
      display: none; }
    .mainWrapper .rs_searchbox .rs_date_input_container {
      position: static;
      cursor: pointer; }
      .mainWrapper .rs_searchbox .rs_date_input_container input {
        display: none; }
    .mainWrapper .rs_searchbox .rs_mobi {
      display: block; }
    .mainWrapper .rs_searchbox .rs_mobi_date_container {
      width: 48.4%;
      color: #636363;
      background-color: white;
      display: inline-block;
      zoom: 1;
      border: 0px solid #af231b;
      webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      text-align: center;
      margin-right: 1%;
      margin-bottom: 12px; }
      .mainWrapper .rs_searchbox .rs_mobi_date_container .rs_mobi_title {
        background: #e4e4e4;
        padding: 7px 0;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
      .mainWrapper .rs_searchbox .rs_mobi_date_container .rs_mobi_chk_day {
        font-size: 45px;
        font-weight: bold;
        margin: 7px 0; }
      .mainWrapper .rs_searchbox .rs_mobi_date_container .rs_mobi_chk_month {
        margin-bottom: 7px; }
      .mainWrapper .rs_searchbox .rs_mobi_date_container .rs_mobi_in {
        float: left; }
      .mainWrapper .rs_searchbox .rs_mobi_date_container .rs_mobi_out {
        float: right; }
    .mainWrapper .rs_searchbox .rs_mobile_room_counter {
      display: none; }
    .mainWrapper .rs_searchbox .rs_date, .mainWrapper .rs_searchbox .rs_people {
      display: inline-block;
      width: 48.4%;
      margin-right: 2%;
      vertical-align: middle;
      *float: left; }
    .mainWrapper .rs_searchbox .rs_rooms_row {
      display: inline-block;
      width: 48.4%;
      margin-right: 2%;
      vertical-align: middle;
      *float: left; }
    .mainWrapper .rs_searchbox .rs_guest_row {
      display: inline-block;
      width: 48.4%;
      margin-right: 0%;
      vertical-align: middle;
      *float: left; }
    .mainWrapper .rs_searchbox .rs_chk_out_row {
      margin-right: 0; }
    .mainWrapper .rs_searchbox .rs_vp_form .rs_form_row {
      display: inline-block;
      width: 48.4%;
      margin-right: 2%;
      *float: left; }
    .mainWrapper .rs_searchbox .rs_vp_form .rs_date {
      width: 48.4%; }
    .mainWrapper .rs_searchbox .rs_vp_form .rs_rooms_row {
      width: 31.3%; }
    .mainWrapper .rs_searchbox .rs_vp_form .rs_chk_out_row {
      margin-right: 0; }
    .mainWrapper .rs_searchbox .rs_vp_form #childrens_ages span {
      margin: 0 0 5px 0;
      font-size: 14px;
      font-weight: bold;
      display: block; }
    .mainWrapper .rs_searchbox .rs_vp_form #childrens_ages select {
      width: 9%;
      margin: 0 0 13px 0;
      margin-right: 1%;
      min-height: 35px; }
    .mainWrapper .rs_searchbox .rs_air_form .rs_air_options {
      margin-bottom: 10px; }
      .mainWrapper .rs_searchbox .rs_air_form .rs_air_options input {
        vertical-align: middle;
        margin: -2px 3px 0 0; }
      .mainWrapper .rs_searchbox .rs_air_form .rs_air_options label {
        margin-right: 10px;
        font-size: 14px; }
    .mainWrapper .rs_searchbox .rs_air_form .rs_date {
      width: 48.4%; }
    .mainWrapper .rs_searchbox .rs_air_form .rs_form_row {
      display: inline-block;
      width: 48.4%;
      margin-right: 2%;
      *float: left; }
    .mainWrapper .rs_searchbox .rs_air_form .rs_rooms_row {
      display: inline-block;
      width: 31.3%;
      margin-right: 2%;
      *float: left; }
    .mainWrapper .rs_searchbox .rs_air_form .rs_chk_out_row {
      margin-right: 0; }
    .mainWrapper .rs_searchbox .rs_air_form .air_flight_3, .mainWrapper .rs_searchbox .rs_air_form .air_flight_4, .mainWrapper .rs_searchbox .rs_air_form .air_flight_5 {
      display: none; }
    .mainWrapper .rs_searchbox .rs_air_form .add_rem_flight {
      display: block;
      cursor: pointer;
      margin: 5px 0; }
    .mainWrapper .rs_searchbox .rs_air_form .add_rem_flight:hover {
      color: #fcb0ae;
      text-decoration: underline; }
    .mainWrapper .rs_searchbox .rs_air_form h3 {
      font-size: 16px;
      margin: 0 0 10px; }
    .mainWrapper .rs_searchbox .rs_car_form .rs_last_time {
      margin-right: 0; }
    .mainWrapper .rs_searchbox .rs_car_form .rs_pickup_div {
      margin-bottom: 5px; }
    .mainWrapper .rs_searchbox .rs_car_form .rs_date {
      display: none; }
    .mainWrapper .rs_searchbox .rs_car_form .rs_rooms_row {
      margin-right: 0; }
    .mainWrapper .rs_searchbox .rs_car_form .rs_button_row {
      margin-top: 0; }
    .mainWrapper .rs_searchbox .rs_car_form #rs_discount_codes {
      display: none;
      width: 100%;
      margin-right: 0;
      vertical-align: middle;
      float: left; }
      .mainWrapper .rs_searchbox .rs_car_form #rs_discount_codes .rs_form_row {
        width: 100% !important; }
    .mainWrapper .rs_searchbox .rs_car_form #rs_car_advanced .rs_form_row {
      display: inline-block;
      width: 100%;
      margin-right: 0;
      vertical-align: middle;
      float: left; }
    .mainWrapper .rs_searchbox .rs_button_row {
      margin-left: 0;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      float: right;
      clear: both; }
      .mainWrapper .rs_searchbox .rs_button_row .rs_search {
        padding: 0 7%;
        background: #99CCFF;
        background: -moz-linear-gradient(top, #99CCFF 0%, #7ebefe 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99CCFF), color-stop(100%, #7ebefe));
        background: -webkit-linear-gradient(top, #99CCFF 0%, #7ebefe 100%);
        background: -o-linear-gradient(top, #99CCFF 0%, #7ebefe 100%);
        background: -ms-linear-gradient(top, #99CCFF 0%, #7ebefe 100%);
        background: linear-gradient(to bottom, #99CCFF 0%, #7ebefe 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e39824', endColorstr='#d48400',GradientType=0 );
        border: 1px solid #76ace2;
        outline: none;
        width: 100%;
        height: 40px;
        line-height: 25px;
        float: right;
        font-weight: 700;
        font-family: "Lato", sans-serif;
        margin: 0;
        color: white;
        text-shadow: 0 1px 3px #444;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px; }
      .mainWrapper .rs_searchbox .rs_button_row .rs_search:hover {
        background: #76ace2;
        background: -moz-linear-gradient(top, #76ace2 0%, #679bce 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76ace2), color-stop(100%, #679bce));
        background: -webkit-linear-gradient(top, #76ace2 0%, #679bce 100%);
        background: -o-linear-gradient(top, #76ace2 0%, #679bce 100%);
        background: -ms-linear-gradient(top, #76ace2 0%, #679bce 100%);
        background: linear-gradient(to bottom, #76ace2 0%, #679bce 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b2fe', endColorstr='#428bca',GradientType=0 );
        border-color: #5584b3; }
      .mainWrapper .rs_searchbox .rs_button_row .rs_search_icon {
        float: right;
        display: none;
        width: 27px;
        height: 28px;
        background-image: url(../images/search.png);
        background-repeat: no-repeat;
        background-position: top;
        vertical-align: middle; }
      .mainWrapper .rs_searchbox .rs_button_row .rs_search:hover .rs_search_icon {
        background-position: bottom; }
    .mainWrapper .rs_searchbox .rs_advanced_link {
      float: left;
      width: 100%;
      margin: 10px 0 0;
      color: white;
      font-size: 16px;
      cursor: pointer;
      font-weight: bold; }
      .mainWrapper .rs_searchbox .rs_advanced_link i {
        display: inline-block;
        margin: -1px 7px 0 0;
        font-weight: bold;
        font-size: 14px;
        padding: 2px;
        color: #BF3831;
        background-color: #99CCFF;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        border-radius: 50%; }
    .mainWrapper .rs_searchbox .rs_advanced {
      display: none;
      padding: 20px 0 0; }
      .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_col {
        display: inline-block;
        width: 48.4%;
        margin-right: 1%;
        margin-bottom: 10px;
        vertical-align: middle;
        *float: left; }
      .mainWrapper .rs_searchbox .rs_advanced #rs_advanced_stars {
        width: 99%; }
      .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_title {
        font-size: 13px;
        font-weight: bold;
        margin: 0 0 5px; }
      .mainWrapper .rs_searchbox .rs_advanced .blank_title {
        display: none; }
      .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_col ul {
        margin: 0;
        padding: 0;
        list-style: none; }
      .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_col li {
        padding: 3px 0; }
      .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_col input {
        vertical-align: middle;
        margin: -3px 5px 0 1px; }
      .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_col .rs_stars {
        color: #fbab17; }
      .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_right {
        display: block;
        width: 100%;
        vertical-align: middle; }
        .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_right .rs_form_row {
          display: inline-block;
          width: 100%;
          margin-right: 0;
          vertical-align: middle;
          *float: left; }

.h2_ind_product {
  padding-top: 0 !important;
  border: none !important; }

.rs_oneway_search {
  margin-top: 16px !important; }

@media only screen and (min-width: 350px) {
  .mainWrapper .rs_searchbox .rs_products li {
    width: 48.4%;
    text-align: left; }
  .mainWrapper .rs_searchbox .rs_products li.rs_wide_tab {
    width: 48.4%; }
  .mainWrapper .rs_searchbox h2 {
    font-size: 21px; }
  .mainWrapper .rs_searchbox .label {
    display: block; }
  .mainWrapper .rs_searchbox .rs_date_input_container {
    position: relative; }
    .mainWrapper .rs_searchbox .rs_date_input_container input {
      display: block; }
  .mainWrapper .rs_searchbox .rs_mobi {
    display: none; }
  .mainWrapper .rs_searchbox .rs_rooms_row {
    width: 48.4%; }
  .mainWrapper .rs_searchbox .rs_guest_row {
    width: 48.4%; }
  .mainWrapper .rs_searchbox .rs_car_form .rs_date {
    display: inline-block; }
  .mainWrapper .rs_searchbox .rs_car_form #rs_car_advanced .rs_form_row {
    margin-right: 2%; }
  .mainWrapper .rs_searchbox .rs_button_row {
    width: 160px; }
    .mainWrapper .rs_searchbox .rs_button_row .rs_search {
      width: 86%;
      text-align: left; }
    .mainWrapper .rs_searchbox .rs_button_row .rs_search_icon {
      display: inline-block; }
  .mainWrapper .rs_searchbox .rs_advanced_link {
    width: auto; }
  .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_col {
    width: 31.3%; }
  .mainWrapper .rs_searchbox .rs_advanced #rs_advanced_stars {
    width: 31.3%; } }
@media only screen and (min-width: 475px) {
  .mainWrapper .rs_searchbox .rs_products li {
    width: 22%; }
  .mainWrapper .rs_searchbox .rs_products li.rs_wide_tab {
    width: 28%; }
  .mainWrapper .rs_searchbox .rs_date, .mainWrapper .rs_searchbox .rs_people {
    width: 23%; }
  .mainWrapper .rs_searchbox .rs_rooms_row {
    width: 23%; }
  .mainWrapper .rs_searchbox .rs_guest_row {
    width: 23.2%; }
  .mainWrapper .rs_searchbox .rs_chk_out_row {
    margin-right: 2%; }
  .mainWrapper .rs_searchbox .rs_car_form .rs_rooms_row {
    margin-right: 2%; }
  .mainWrapper .rs_searchbox .rs_car_form #rs_discount_codes {
    width: 31.3%;
    margin-right: 2%; }
  .mainWrapper .rs_searchbox .rs_car_form #rs_car_advanced .rs_form_row {
    width: 31.3%; }
  .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_col {
    width: 31.3%; }
  .mainWrapper .rs_searchbox .rs_advanced #rs_advanced_stars {
    width: 31.3%; }
  .mainWrapper .rs_searchbox .rs_advanced .blank_title {
    display: block; }
  .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_right .rs_form_row {
    width: 31.3%;
    margin-right: 1%; } }
@media only screen and (min-width: 575px) {
  .mainWrapper .rs_searchbox .rs_products li {
    width: auto;
    margin: 0 30px 0 0; }
  .mainWrapper .rs_searchbox .rs_products li.rs_wide_tab {
    width: auto; } }
@media only screen and (min-width: 675px) {
  .mainWrapper .rs_searchbox .rs_vp_form .rs_date {
    width: 18%; }
  .mainWrapper .rs_searchbox .rs_vp_form .rs_rooms_row {
    width: 18%; }
  .mainWrapper .rs_searchbox .rs_vp_form .rs_chk_out_row {
    margin-right: 2%; }
  .mainWrapper .rs_searchbox .rs_air_form .rs_date {
    width: 18%; }
  .mainWrapper .rs_searchbox .rs_air_form .rs_rooms_row {
    width: 18%; }
  .mainWrapper .rs_searchbox .rs_air_form .rs_chk_out_row {
    margin-right: 2%; }
  .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_col {
    width: 23%; }
  .mainWrapper .rs_searchbox .rs_advanced #rs_advanced_stars {
    width: 23%; }
  .mainWrapper .rs_searchbox .rs_advanced .blank_title {
    display: none; }
  .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_right {
    display: inline-block;
    width: 23%; }
    .mainWrapper .rs_searchbox .rs_advanced .rs_advanced_right .rs_form_row {
      width: 100%; } }

/*# sourceMappingURL=rs_searchbox.css.map */
